/* Reset default margin and padding for all elements */
html, body {
  height: 100%;
  margin: 0;
}

/* Page container to hold header and footer */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum full viewport height */
}

/* Header Styles */
header {
  background-color: #7a0800; /* Dark red cherry color */
  color: #fff;
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
  position: fixed; /* Fixed positioning */
  width: 100%; /* Full width */
  top: 0; /* Stick to the top */
  z-index: 1000; /* Ensure the header stays above other content */
 
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem; /* Larger font size for emphasis */
  font-weight: 600; /* Medium to bold weight for readability */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 1px; /* Slight letter spacing for clarity */
  color: #fff; /* White text color */
  font-family: inherit;
}

nav {
  margin-top: 10px; /* Add space below header */
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  display: inline-block; /* Ensures link behaves like a block element */
  padding: 8px 20px; /* Adjust padding to create button-like size */
  background-color: #8d1300; /* Red cherry color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px; /* Rounded corners for button-like appearance */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transitions */
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

nav a:hover {
  transform: scale(1.1); /* Zoom in effect on hover */
  background-color: #7a0800; /* Darker background color on hover */
}

/* Additional styles for the logo */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px; /* Adjust as needed */
  width: 70px; /* Make it a square */
  border-radius: 50px; /* Rounded corners */
  object-fit: cover; /* Ensure the image covers the area */
  border: 2px solid #fff; /* White border */
  margin-right: 20px; /* Space between logo and title, adjust as needed */
}
