.container.register {
  background: #f8f9fa;
  margin-top: 3%;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  max-width: 550px; /* Adjust the width as needed */

  margin-top: 150px;
}

.register-heading {
  text-align: center;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.form-group {
  width: 100%;
  margin-bottom: 10px; /* Adjust spacing between fields */
 
}

.form-control {
  
 
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
 
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.form-buttons .btnRegister,
.form-buttons .btnLogin {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form-buttons .btnRegister:hover,
.form-buttons .btnLogin:hover {
  background-color: #0056b3;
}

.placeholder-with-color {
  position: relative;
  display: inline-block;

}

.red-asterisk {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
}



